#sample{
    position: absolute;
    top: 20%;
    left: 40%;
    height: 400px;
    width: 400px;
    border: 1px solid;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  